@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"); }

body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #444444; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #444444; }

h2 {
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  min-height: 80px; }

@media (min-width: 768px) {
  .page-header {
    min-height: 140px; } }

.page-footer__logo {
  display: block; }

@media (min-width: 768px) {
  .page-header {
    padding: 0 50px; }
  .page-footer__logo-image {
    width: 113px;
    height: 46px; } }

@media (min-width: 1150px) {
  .page-footer__logo-image {
    width: 148px;
    height: 73px; } }

@media (min-width: 768px) {
  .page-main {
    padding: 0 50px; } }

@media (min-width: 768px) {
  .page-footer {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between; } }

.site-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.site-list__link {
  font-weight: bold; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

@media (min-width: 1150px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; } }

.assortment {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px; }

@media (min-width: 768px) {
  .assortment {
    min-width: 668px; } }

@media (min-width: 1150px) {
  .assortment {
    min-width: 1050px; } }

.goods-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.goods-list__item {
  padding: 30px; }

.goods-list__link {
  font-weight: bold;
  color: #ffffff; }

.goods-list__item--interior-items {
  background: #63d1bb; }

.goods-list__item--kids-toys {
  background: #56c3b2; }

@media (min-width: 768px) {
  .goods-list {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 1150px) {
  .goods-list {
    min-width: 1050px; } }

.about__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.about__item {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .about__list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; }
  .about__item {
    width: 334px; } }

@media (min-width: 1150px) {
  .about__list {
    width: 700px; }
  .about__item {
    width: 350px; } }

@media (min-width: 768px) {
  .reviews {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
  .reviews__title {
    order: 1;
    margin-right: auto; }
  .reviews__write {
    order: 2;
    margin-left: auto; }
  .reviews__wrapper {
    order: 3; } }

.contacts__field {
  vertical-align: top; }

@media (min-width: 768px) {
  .contacts__table-body {
    display: flex; }
  .contacts__table-row {
    width: 334px; } }

@media (min-width: 1150px) {
  .contacts__table-body {
    flex-direction: column; } }

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-direction: column; }
  .catalog__item {
    display: block; }
  .catalog__container-img {
    height: 335px;
    position: relative;
    float: left; } }

@media (min-width: 1150px) {
  .catalog__list {
    flex-direction: row; }
  .catalog__item {
    display: flex;
    flex-direction: column; } }

.button {
  display: inline-block;
  padding: 15px 25px;
  border: 2px solid #444444;
  box-sizing: border-box;
  color: #444444;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  background: #ffffff;
  cursor: pointer; }

.demonstration {
  display: flex;
  flex-direction: column;
  align-items: center; }

.demonstration__container-title {
  display: flex; }

@media (min-width: 768px) {
  .demonstration__video-box {
    order: -1; } }

@media (min-width: 1150px) {
  .demonstration {
    position: relative;
    align-items: flex-end; }
  .demonstration__container-title {
    flex-direction: column; }
  .demonstration__title-icon {
    order: -1; }
  .demonstration__video-box {
    position: absolute;
    border: 2px solid #444444;
    left: 50px;
    margin-right: 20px; }
  .demonstration__text {
    width: 235px; } }

.order {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-order {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000; }

.form-order__legend {
  color: #63d1bb; }

.form-order__group-option {
  padding: 0; }

.form-order__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 510px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column; }

.form-order__input {
  border: 2px solid #000000; }

.form-order__input--text {
  border: none;
  border-bottom: 2px solid #000000; }

.form-order__item {
  display: flex;
  flex-direction: column; }

.form-order__submit-container {
  display: flex;
  flex-direction: column;
  align-content: center; }

@media (min-width: 768px) {
  .form-order__group-option {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .form-order__legend {
    width: 100px; }
  .form-order__item {
    flex-direction: row; }
  .form-order__item--color-checkbox {
    margin-right: 50px; }
  .form-order__list--color {
    flex-direction: row;
    flex-wrap: wrap; } }
