$azure: #63d1bb;
$seafoam-blue: #63d1bb;
$dark-azure: #56c3b2;
$green-hover: #59d5bc;
$green-hover-two: #46c1ae;

$main-color: $azure;
$main-color-darken: $dark-azure;
$dark-grey: #444444;
$black: #000000;
$white: #ffffff;
$gray: #ececec;
$light-gray: #f9f9f9;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
